{
  "openapi": "3.0.3",
  "info": {
    "title": "ZapperAPI Instance API Reference",
    "description": "ZapperAPI Instance API Reference",
    "version": "1.0.0"
  },
  "components": {
    "securitySchemes": {
      "token": {
        "description": "API Key global para autenticação na Instance API",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {

    }
  },
  "paths": {
    "/api/v2/instances": {
      "post": {
        "operationId": "createInstance",
        "x-displayName": "1. Criar Instância",
        "summary": "Cria uma nova instância",
        "tags": [
          "Instâncias"
        ],
        "description": "Cria uma nova instância",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Nome amigável para exibição"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "201": {
            "description": "Default Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "instance": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "ownerId": {
                          "type": "string"
                        },
                        "apikey": {
                          "type": "string"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "ownerId",
                        "apikey",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "instance"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listInstances",
        "x-displayName": "2. Listar Instâncias",
        "summary": "Obtém todas as instâncias",
        "tags": [
          "Instâncias"
        ],
        "description": "Obtém todas as instâncias",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "default": 10
            },
            "in": "query",
            "name": "limit",
            "required": false
          },
          {
            "schema": {
              "type": "number",
              "default": 1
            },
            "in": "query",
            "name": "page",
            "required": false
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "label",
            "required": false
          }
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/api/v2/instances/{instanceId}": {
      "get": {
        "summary": "Obtém uma instância",
        "tags": [
          "Instâncias"
        ],
        "description": "Obtém uma instância",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "instanceId",
            "required": true
          }
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      },
      "delete": {
        "summary": "Deleta uma instância",
        "tags": [
          "Instâncias"
        ],
        "description": "Deleta uma instância",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "instanceId",
            "required": true
          }
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/api/v2/instances/{instanceId}/label/{label}": {
      "patch": {
        "summary": "Renomeia uma instância",
        "tags": [
          "Instâncias"
        ],
        "description": "Renomeia uma instância alterando o nome amigável (label) de exibição no dashboard",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "instanceId",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "label",
            "required": true
          }
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    },
    "/api/v2/instances/{instanceId}/restart": {
      "post": {
        "summary": "Reinicia uma instância",
        "tags": [
          "Instâncias"
        ],
        "description": "Reinicia uma instância",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "path",
            "name": "instanceId",
            "required": true
          }
        ],
        "security": [
          {
            "token": []
          }
        ],
        "responses": {
          "200": {
            "description": "Default Response"
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://server.zapperapi.com",
      "description": "Production"
    }
  ]
}